/* MENU INICIAL */

header {
    background-color:#FFC107;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    margin: 0;
}

#menu {
    background-color: #FFA000;
}

#menu img {
    display: block;
}

#menu li {
    display: inline-flex;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    color: #FDFDFD;
    justify-content: space-around;
}
/* BODY */

body {
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
}    

/* MAIN: ARTICLE */

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
      
}

/* CONTAINER 1 */

#container1 {
    padding-bottom: 60px;
}

h1 {
    color: #FFA000;
    font-size: 50px;
}

.infosreceita li {
    display: inline;
    border: 1px solid #176902;
    font:#176902;
    border-radius: 47px;
}

.ingredientes {
   
    padding-top: 20px;
    padding-bottom: 20px;
}

.ingredientes h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ingredientes p {
    margin: 0;
}

#video{
    padding-top: 40px;
    padding-bottom: 40px;
}

.mododepreparo {
    max-width: 560px;
}

/*MAIN: CARDS RECEITAS */

h4 {
    color: #FFA000;
    font-size: 30px;
}

.receitas {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 345px;
    margin-top: 60px;
}

.receitas p {
    text-align: center;
    font-size: 26px;
    color: #000;
    padding-bottom: 30px;
}
/*MAIN: LISTA RECEITAS */

#lista-receitas {
    padding: 10px;
    padding-top: 60px;
    justify-content: flex-start;
    
}

#lista-receitas h1 {
    padding-left: 70px;
}

/* CONTAINER 3 */

#container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 80px;
    padding-top: 40px;
}

.card-receita {
    max-width: 345px;
    text-align: center;
    bottom: center;
    padding: 20px;
}

.card-receita img {
    max-width: 345px;
    max-height: 342px;
    object-fit: cover;
    
}

.card-receita p {
    font-weight: 600;
    font-size: 26px;
}

.card-receita button {
    background: #176902;
    width: 185px;
    height: 48px;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    border: none;
    
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    background-color: #FFC107;
    text-align:left;
    color: #FFF;
    font-weight: 700;
    width: 100%;
    margin: 0;
}